body{padding:40px}
table, th, td{border: .5px solid black}
.img-modelo{width:20%;height:20%}
.button {
    border: none;
    color: white;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 50px;
    width: 80px
  }
.btnvoltar{border: 2px solid #4CAF50;} 
.btnvoltar:hover{background-color: #4CAF50; color: white}
a:link{text-decoration: none}
a:hover{text-decoration: none}